# Dependencies
.venv

# Local env
.env
.env.*
!.env.example

# VCS
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# OS files
.DS_Store
Thumbs.db

# Others
*.swp
*.swm
*.swo

# README files
README*

